* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

h1 {
  text-align: center;
  color: aliceblue;
}

Header {
  background-color: #387dff;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.fa-brands {
  color: aliceblue;
}

#sitios {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  flex-wrap:wrap;
  margin-left:10% ;
}

.enlace {
  outline: none;
  text-decoration: none;
  color:white;
  margin: 5px;
  padding: 10px 0;
  width: 25%;
  border: 1px solid blue;
  text-align: center;
  background-color: #387dff;
  border-radius: 5px;
}

.enlace:hover {
  background-color: white;
  color: blue;
}


@media (max-width:793px) {
  .enlace {
  margin: 5px;
  padding: 10px 0;
  width: 40%;
  }
  .enlace:hover {
  background-color: white;
  color: blue;
  }
}